body{
    margin:0em;
    padding:0em;
	background-color:rgba(0,0,0,0);
}
#conteneur{
	
	font-family: Verdana, sans-serif;
	background-color:#eee;
	margin:0em;
	padding:1em;
    padding-left:0em;
	box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2);
	border-radius:2em;
}
canvas{
	margin:0em;
}
.contenu{
    text-align:center;
	background-color:#ddd;
	margin:0em 0.25em 1em 0.25em;
	padding: 0.5em 1em;
	border-radius:1em;
	box-shadow: 5px 5px 2px 2px rgba(0, 0, 0, 0.2);
}
.gauche{
	float:left;
}
.droite{
	float:right;
}
#background{
    background-color:#000000;
    
    border-radius:0.75em;
    padding:0.5em;
}



#temperature{
    
    width:12em;;
}

#objet{
    width:8em;
    height:8em;
    border-radius:4em;
    
    background-color: rgb(0,0,0);
}